body {
    direction: rtl;
    background-color: $white;
    font-family: 'GE Heritage Two';
}
.navbar-light .navbar-nav .nav-link:hover,  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{  color: $white;}